$legacy_browser_support: false !default;

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy_browser_support {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy_browser_support {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

/**
 * @mixin height-lineheight($height)
 *
 * Allows single-line vertical centering of text
 *
 * @param: $height
 *  height of element, text will centern vertically within
 */
@mixin height-lineheight($height){
  height: $height;
  line-height: $height;
}

/**
 * @mixin child-behind-parent()
 *
 * Moves a child img behind it's a parent. Apply to parent div. Markup: div > a > img
 * Useful for putting a hover image on the a tag wrapping an image
 *
 */
@mixin child-overlay($image){
  position: relative;
  z-index: 1;
  a{
    display: block;
    position: relative;
    @include background(image-url("#{$image}") center no-repeat);

    &:hover{
      @include background-size(16%); //possibly use transform instead
    }

    img{
      position: relative;
      z-index: -1;
    }
  }
}

$baseem: 16px;

$base: #333;
$grey: #999;
$link: #428bca;
$hover: #2a6496;

@mixin glyph {
  font-family: Glyphicons;
  font-weight: normal;
}
@mixin lato {
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
}
@mixin lato-bold {
  font-family: Lato, Arial, sans-serif;
  font-weight: 600;
}
@mixin lato-light {
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
}
@function toem($x) {
  @return ($x / $baseem) * 1rem;
}
@mixin btn {
  white-space: nowrap;
  display: inline-block;
}
@mixin btn-grey {
  padding: 3px 4px;
  margin: 4px 4px 4px 0;
  background: #f5f5f5;
  border: 1px solid #dedede;
  border-width: 0 1px 1px 0;
  color: #515151;
  text-decoration: none;
  font-size: 0.9em;
  white-space: nowrap;
  display: inline-block;
}

@mixin badge {
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
}