/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
html {
  font-size: $baseem;
}
body {
  @include lato();
  color: $base;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include lato-bold();
}
a {
  color: $link;
  text-decoration: none;
}
a:hover {
  color: $hover;
}
.page-header {
  border-bottom: 0;
}
.page-content {
  padding-bottom: 50px;
}
.navbar {
  margin-bottom: 0
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #428bca;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background: #428bca;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border-bottom: 1px #e6e6e6 solid;
}

.navbar-brand {
  padding: 0 0 0 3px;
  img {
    height: 50px;
    width: auto;
  }
}
.site-name-wrapper {
  height: 50px;
  display: block;
  width: 150px;
  margin-left: 60px;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.35em; /* Adjusts for spacing */
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    text-decoration: none;
  }
}

a.feed-icon {
  &:before {
    content: "\e122";
    @include glyph();
    display: inline-block;
    color: #428bca;
    font-size: toem(13px);
    margin-right: 8px;
    position: relative;
    left: 2px;
    top: 1px;
  }
  &:hover {
    &:before {
      color: #2a6496;
    }
  }
}
.node-pp-news {
  .field-name-field-pp-news-date{
    color: $grey;
    font-size: toem(14px);
    float: left;
    .field-item:before {
      @include glyph();
      content: "\e109";
      font-size: toem(13px);
      margin-right: 3px;
      position: relative;
      top: 1px;
    }
  }
  .field-name-field-pp-news-tags {
    clear: both;
    .field-item {
      display: inline-block;
      margin-right: 5px;
    }
    a {
      padding: 3px 6px 3px 4px;
      margin: 0;
      background: #f5f5f5;
      border: 1px solid #dedede;
      border-width: 0 1px 1px 0;
      color: #515151;
      text-decoration: none;
      font-size: toem(13px);
      white-space: nowrap;
      display: inline-block;
      &:before {
        @include glyph();
        font-size: toem(11px);
        position: relative;
        top: 2px;
        left: 2px;
        content: "\e041";
        color: #999;
        margin-right: 6px;
      }
      &:hover {
        background: #428bca;
        color: #FFF;
        border-color: #428bca;
        &:before {
          color: #fff;
        }
      }
    }
  }
  .pane-node-author a{
    color: $grey;
    font-size: toem(14px);
    margin-right: 11px;
    float: left;
    &:before {
      display: inline-block;
      @include glyph();
      content: "\e008";
      font-size: toem(13px);
      margin-right: 4px;
      position: relative;
      top: 1px;
    }
  }
  .field-name-field-pp-news-body {
    font-size: toem(15px);
    line-height: 1.8em;
    color: $base;
    p {
      font-size: toem(15px);
      margin: 0 0 10px 0;
    }
  }
  &.node-teaser {
    margin-bottom: 45px;
    & > h2 {
      margin-top: 0;
      font-size: toem(18px);
      @include lato();
    }
    .news-teaser-meta {
      overflow: hidden;
    }
    .news-teaser-content {
      clear: both;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px #ddd solid;
    }
    .field-name-field-pp-news-tags {
      margin-top: -5px;
    }
    .field-name-field-pp-news-image {
      float: left;
      margin: 8px 15px 15px 0;
      img {
        padding: 10px;
        background: #fff;
        border: 1px #ddd solid;
      }
    }
    .node-readmore {
      float: right;
      position: relative;
      z-index: 10;
      a {
        &:after {
          @include glyph();
          content: "\e080";
          display: inline-block;
          font-size: toem(12px);
          color: rgba(0,0,0,0.25);
          margin-left: 4px;
          position: relative;
          top: 1px;
        }
        &:hover:after {
          color: #2a6496;
        }
      }
    }
  }
  &.node-full {
    & > h2 {
      @include lato-light();
      font-size: 25px;
      margin: 0 0 25px;
    }
    .pane-node-field-pp-news-image {
      clear: both;
    }
    .field-name-field-pp-news-image {
      clear: both;
      padding: 15px 0;
      text-align: center;
      img {
        padding: 10px;
        background: #fff;
        border: 1px #ddd solid;
      }
    }
  }
}
.pane-title {
  color: #515151;
  font-weight: 300;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  @include lato-light();
}
.well-block {
  border: 1px #ddd solid;
  margin-bottom: 25px;
  .pane-title {
    margin: 0;
    padding: 10px 15px;
    background: #f5f5f5;
    border-bottom: 1px #ddd solid;
    color: $base;
    font-size: toem(16px);
    @include lato();
  }
  .pane-content {
    background: #fff;
    padding: 15px;
  }
}

.news-archive-class {
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    margin-bottom: 3px;
    a {
      display: block;
      background-color: #f5f5f5;
      padding: 10px 0 10px 15px;
      font-size: toem(14px);
      &:hover {
        background-color: #f0f0f0;
        text-decoration: none;
      }
      &.active-item {
        background-color: #428bca;
        color: #fff;
        span {
          color: #fff;
        }
      }
    }
    & > a {      
      span {
        @include badge();
        float: right;
        margin-right: 15px;
        padding: 3px 0;
        background: none;
        color: #666;
        border: none;
      }
    }
    ul {
      margin: 0 -1%;
      padding: 3px 0 10px;
      clear: both;
      overflow: hidden;
      list-style: none;
      li {
        display: block;
        float: left;
        width: 48%;
        margin: 0 1%;
      }
      a {
        background-color: #fff;
        border-bottom: 1px #f0f0f0 solid;
        display: block;
        span {
          @include badge();
          padding: 2px 6px;
          margin-left: 4px;
          border: 1px #f0f0f0 solid;
          background-color: #f0f0f0;
          color: #666;
        }
        &:hover {
          padding-bottom: 9px;
          border-bottom-width: 2px;
          background: transparent;
          span {
            background: #fff;
          }
        }
        &.active-item {
          padding-bottom: 9px;
          border-bottom: 2px #428bca solid;
          color: #428bca;
          @include lato-bold();
          background: transparent;
          span {
            color: #666;
            background: #fff;
          }
        }
      }
    }
  }
}
