.page-admin {

}
.page-admin .page-header,
.page-admin .page-navigation,
.page-admin .page-content,
.page-admin .page-footer  {
	margin-bottom: 10px;
	clear:both;
}
.page-admin .page-navigation .panel-region {
  width: 48.5%;
  margin-left: 2%;
  float: left;
}
.page-admin .page-navigation .panel-region:first-child {
  margin-left: 0;
}
